.footer {
    display: grid;
    max-width: 100%;
    margin-top: 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    color: white;
    text-align: center;
    background-color: black;
    width: 100%;
    justify-content: center;
  
    @include mobile {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    
    .box__instagram i {
        color: white
    }
}

.whatsapp {
    position: fixed;
    border-radius: 50%;
    top: 550px;
    right: 0;
    a img {
        width: 50%;
        height: 50px;
        border-radius: 100%; 
    }

    @include mobile {
        display: none;
    }
}